{% include 'partials/head.html' %}



  <style>
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropbtn {
      cursor: pointer;
      color: white;
      padding: 10px;
      text-decoration: none;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #333;
      min-width: 150px;
      z-index: 1;
      flex-direction: column;
    }

    .dropdown-content a,
    .dropdown-content form {
      color: white;
      padding: 10px;
      text-decoration: none;
      display: block;
      border: none;
      background: none;
      text-align: left;
    }

    .dropdown-content a:hover,
    .dropdown-content form:hover {
      background-color: #444;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-content form button {
      color: white;
      background: none;
      border: none;
      width: 100%;
      text-align: left;
      padding: 10px;
      cursor: pointer;
    }

    .dropdown-content form button:hover {
      background-color: #444;
    }
  </style>
</head>
<body>

  {% include 'partials/header.html' %}

  <!-- Todos os Projetos -->
  <section class="categoria">
    <h2 class="title">Todos os Projetos</h2>
    <div class="carrossel">
      {% for projeto in projetos %}
        <a href="{{ url_for('projects.view_project', id=projeto.id) }}" class="projeto-link">
          <div class="projeto">
            <img src="{{ projeto.location }}" alt="Imagem do projeto">
            <h3>{{ projeto.title }}</h3>
            <p>{{ projeto.description }}</p>
            <p><strong>Categoria:</strong> {{ projeto.category }}</p>
          </div>
        </a>
      {% endfor %}
    </div>
  </section>


  <script src="{{ url_for('static', filename='carrossel.js') }}"></script>
</body>
</html>
