<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lobby de Investimentos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="{{ url_for('home_blueprint.index') }}">Home</a>
      <a href="#">Sobre Nós</a>

      {% if current_user.is_authenticated %}
        <a href="{{ url_for('home_blueprint.cadastro') }}">Cadastrar Projeto</a>
        <a href="{{ url_for('home_blueprint.perfil') }}">Perfil</a>
        <form action="{{ url_for('auth.logout') }}" method="post" style="display:inline;">
          <a href="#" onclick="this.closest('form').submit(); return false;">Logout</a>
        </form>
      {% else %}
        <a href="{{ url_for('auth.login_page') }}">Login</a>
      {% endif %}
    </nav>
    <h1>Lobby de Investimentos</h1>
  </header>
  <h1>{{ projeto.title }}</h1>
  <img src="{{ projeto.location }}" alt="{{ projeto.title }}">
  <p>{{ projeto.description }}</p>
  <p>Categoria: {{ projeto.category }}</p>
  <p>Status: {{ projeto.status }}</p>
</body>
</html>
