  <header>
    <nav class="navbar">
      <a href="{{ url_for('home_blueprint.index') }}">Home</a>
      <a href="{{ url_for('home_blueprint.sobrenos') }}">Sobre Nós</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('home_blueprint.cadastrarprojeto') }}">Cadastrar Projeto</a>
        <div class="dropdown">
          <a href="#" class="dropbtn">Conta</a>
          <div class="dropdown-content">
            <a href="{{ url_for('home_blueprint.perfil') }}">Perfil</a>
            <a href="{{ url_for('home_blueprint.favoritos') }}">Favoritos</a>
            {% if current_user.role == 'admin' %}
              <a href="{{ url_for('home_blueprint.admin') }}">Admin</a>
            {% endif %}
            <form action="{{ url_for('auth.logout') }}" method="post">
              <button type="submit">Logout</button>
            </form>
          </div>
        </div>
      {% else %}
        <a href="{{ url_for('auth.login_page') }}">Login</a>
      {% endif %}
    </nav>
  </header>